html, body {
  margin: 50px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 20%;
}

.bottom-menu {
  position: absolute;
  left: 0%;
  top: 20%;
  width: 100%;
  height: 60%;
}

.solve-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: #00ff00;
}

.reset-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: #ff0000;
}

.edit-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: #777777;
}

.done-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: #00ff00;
}

.three-star-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: #2255ff;
}

.five-star-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: #ffff00;
}

.insane-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: #ff0000;
}
